body {
  background-color: black;
  text-align: center;
}

h1 {
  color: whitesmoke;
  font-family: eroded;
  display: inline-block;
}

p {
  color: white;
}

a {
  color: cyan;
}

#virus {
  width: 2vw;
}

iframe {
  width: 80%;
  height: 80vh;
  border-radius: 2%;
}

@font-face {
  src: url(fonts/Afton\ James.ttf);
  font-family: eroded;
}
